{% extends 'base.html' %}

{% block header %}
<div id="header">
    <img id="header_logo" src="{{ url_for('static', filename='img/logo.svg') }}">
    <div id="apply">
        <form action="/generate" method="POST" id="apply_form" onsubmit="display_loading_screen()">
            <input type="url" name="url" id="url" placeholder="Paste the position's URL, press enter, apply...">
        </form>

        <form id="form_model_selection" action="/select_model" method="POST">
            <select id="model_select" name="model_select" onchange="selectSubmit('form_model_selection')">
                {% for model in models %}
                <option value="{{ model }}" {% if selected_model==model %} selected {% endif %}>with {{ model }}
                </option>
                {% endfor %}
            </select>
        </form>

        <form id="form_language_selection" action="/select_language" method="POST">
            <select id="language_select" name="language_select" onchange="selectSubmit('form_language_selection')">
                {% for language in languages %}
                <option value="{{ language }}" {% if selected_language==language %} selected {% endif %}>in {{ language
                    }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>
{% endblock %}

{% block application %}
<div class="main_div" id="applications">
    {% for application in applications %}
    <div class="application" id="application-{{ application.id }}">
        <img id="img-app-{{ application.id }}" class="application_img"
            src="{{ url_for('static', filename='applications/1/' ~ application.id ~ '/cover_letter.svg') }}">
        <span class="application_company">{{ application.company }}</span>
        <br />
        <span class="application_title">{{ application.job_title }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block user_data %}
<div class="main_div" id="user_data">

    <div id="imexport">
        <div class="div-btn-user-data">
            <button class="btn-user-data" id="import_button">Import user data</button>
        </div>
        <div class="div-btn-user-data">
            <button class="btn-user-data" id="export_button">Export user data</button>
        </div>
    </div>

    <form id="user_data_form" action="/user" method="POST">
        <section id="details-section">
            <h2>Details</h2>
            <input class="user_data_form_input" type="text" name="first_name" id="first_name" value="{{ user.first_name }}" minlength="1"
                maxlength="100" placeholder="First name">

            <input class="user_data_form_input" type="text" name="surname" id="surname" value="{{ user.surname }}" minlength="1" maxlength="100"
                placeholder="Surname">

            <input class="user_data_form_input" type="email" id="email" name="email" value="{{ user.email }}" minlength="1" maxlength="255"
                placeholder="Email">

            <input class="user_data_form_input" type="tel" id="phone_number" name="phone_number" value="{{ user.phone_number }}" minlength="1"
                maxlength="20" placeholder="Phone number">

            <input class="user_data_form_input" type="text" name="address" id="address" value="{{ user.address }}" minlength="1" maxlength="255"
                placeholder="Address">

            <input class="user_data_form_input" type="text" name="city" id="city" value="{{ user.city }}" minlength="1" maxlength="255"
                placeholder="City">

            <input class="user_data_form_input" type="integer" name="postal_code" id="postal_code" value="{{ user.postal_code }}" minlength="1"
                maxlength="20" placeholder="Postal code">

            <input class="user_data_form_input" type="text" name="country" id="country" value="{{ user.country }}" minlength="1" maxlength="255"
                placeholder="Country">
        </section>

        <section id="profiles-section">
            <h2>Profile</h2>
            {% set ns = namespace (title = '', description = '') %}
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% set ns.title = data.title %}
            {% set ns.description = data.description %}
            {% endif %}
            {% endfor %}
            <input class="user_data_form_input" type="text" name="title" id="title" value="{{ ns.title }}" minlength="1" maxlength="255"
                placeholder="Title">
            <textarea class="user_data_form_input" id="description" name="description" maxlength="2000">{{ ns.description }}</textarea>
        </section>

        <section id="links-section">
            <h2>Links</h2>
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% for link in data.links %}
            <input class="user_data_form_input" type="text" id="link-{{ loop.index }}" name="link-{{ loop.index }}" value="{{ link.link }}"
                maxlength="255">
            {% endfor %}
            {% endif %}
            {% endfor %}
            <input class="user_data_form_input" type="text" id="links-extra_input" name="links-extra_input" maxlength="255">
        </section>

        <section id="languages-section">
            <h2>Languages</h2>
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% for language in data.languages %}
            <input class="user_data_form_input" type="text" id="language-{{ loop.index }}" name="language-{{ loop.index }}"
                value="{{ language.language }}" maxlength="255">
            {% endfor %}
            {% endif %}
            {% endfor %}
            <input class="user_data_form_input" type="text" id="languages-extra_input" name="languages-extra_input" maxlength="255">
        </section>

        <section id="additional_skills-section">
            <h2>Additional Skills</h2>
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% for additional_skill in data.additional_skills %}
            <input class="user_data_form_input" type="text" id="additional_skill-{{ loop.index }}" name="additional_skill-{{ loop.index }}"
                value="{{ additional_skill.additional_skill }}" maxlength="255">
            {% endfor %}
            {% endif %}
            {% endfor %}
            <input class="user_data_form_input" type="text" id="additional_skills-extra_input" name="additional_skills-extra_input" maxlength="255">
        </section>

        <section id="educations-section">
            <h2>Education</h2>
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% for education in data.educations %}
            <textarea class="user_data_form_input" id="education-{{ loop.index }}" name="education-{{ loop.index }}"
                maxlength="2000">{{ education.education }}</textarea>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <textarea class="user_data_form_input" id="educations-extra_input" name="educations-extra_input" maxlength="2000"></textarea>
        </section>

        <section id="experiences-section">
            <h2>Experience</h2>
            {% for data in user.data %}
            {% if data.language == selected_language %}
            {% for experience in data.experiences %}
            <textarea class="user_data_form_input" id="experience-{{ loop.index }}" name="experience-{{ loop.index }}"
                maxlength="2000">{{ experience.experience }}</textarea>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <textarea class="user_data_form_input" id="experiences-extra_input" name="experiences-extra_input" maxlength="2000"></textarea>
        </section>
    </form>
</div>
{% endblock %}